/* Header Style */
.navWrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.navWrapper ul li a {
  color: #fff;
}
.navbarToggler {
  color: #fff !important;
  border: 1px solid white !important;
}
.navItems {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}
